:root {
  color-scheme: light dark;
}

@font-face {
  font-family: Rennie_Mackintosh_ITC;
  src: url(Rennie_Mackintosh_ITC_Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

.Mackintosh {
  font-family: RennieMackintosh;
}

body {
  margin: auto;
  background-color: light-dark(#fef4d1,#7a7482);
}

#header {
  display: flex;
  margin: 15px auto 15px auto;
  max-width: 800px;
}

#itp-title {
}

#itp-title h1 {
  font-size: 20px;
  margin: 0;
}

#itp-title h2 {
  font-size: 15px;
  margin: 0;
}

#container {
  margin: auto;
  max-width: 800px;
}

#itp-logo {
  width: 200px;
  display: flex;
  align-items: center;
  font-family: Rennie_Mackintosh_ITC;
  font-weight: bold;
  font-size: 50px;
}
