:root {
  color-scheme: light dark;
}

body {
  margin:0px;
  background-color: #fef4d1;
}

#container {
  margin: auto;
  max-width: 1080px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
